/.vscode/arduino.json
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.idea/workspace.xml
.gitignore
.idea/deployment.xml
.idea/discord.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
